<div class="row">
  <div class="col-lg-3">
    <h4>Patients <small>(sorted alphabetically)</small></h4>
    <ul class="nav nav-pills nav-stacked">
      <% @patients.each do |patient| -%>
      <li class="nav-item">
        <a href="/patients/<%= patient.id %>" class="nav-link"><%= patient.last_name %>, <%= patient.first_name %></a>
      </li>
      <% end -%>
    </ul>
  </div>
  <div class="col-xs-9">
    <p>Please select a patient</p>
  </div>
</div>
